@charset "utf-8";

#container{
	margin-left: 5%;
	width: 90%;
	margin-right: 5%;
	display: inline-block;
	text-align: center;
}

.designer{
	background-color: black;
	width: 28%;
	display: inline-block;
	margin: 1%;
	text-align: center;
	vertical-align: top;
	height: 700px;
	color: white;
}

h3{
	font-size: 32px;
	color: #FF00FF;
}

#final{ height: 600px;
width: 28%;
}

#sketch{ height: 500px;
width: 200px;
}

#personal{ height: 500px;
width: 200px;
}

#poster{ height: 500px;
width: 200px;
}


