@charset "utf-8";
/* CSS Document */
body{
 	text-align: center;	
  background: #515151; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#515151, black); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#515151, black); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#515151, black); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#515151, black); /* Standard syntax */


}


h1{
	color: #3BB9FF;
	font-size: 70px;
}
.home{
	display: inline-block;
	text-decoration: none;
	color: #FF00FF;
	margin-left: 2%;
	margin-right: 2%;
}

a{
	text-decoration: none;
	color: #FF00FF;
}

a:hover{
	color: white;
}