@charset "utf-8";
/* CSS Document */



/*	Nav Bar css	*/


nav{
	width: 90%;
	background-color:black;
	height: auto;
	margin-left: 5%;
	margin-right: 5%;
	border: double #A2A2A2;
	text-align: center;
}

/*List of links CSS*/
#navbar{
	list-style: none;
	width: 90%;
	display: inline-block;
}

/*Links in nav bar css*/
.nav{
	text-decoration: none;
	color: #FF00FF;
	display: inline-block;
}

.nav:hover{
	color: white;
}

/*List Item in Navbar css*/
.navi{
	width: 18%;
	display: inline-block;
}


/*Footer Css*/
footer{
	background-color: black;
	margin-top: 1%;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	display: inline-block;
	border: double #A2A2A2;
	font-size: small;
	color: white;
}

.logo{
	display: compact;
}

#link{
	text-decoration: none;
	color: red;
}
#me{
	float:center;

	}


.background_div{
	vertical-align: top;
	display:inline-block;
	background-color: black;
	color: white;
	height: inherit;
	}