@charset "utf-8";
/* CSS Document */

.photography{
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	height: 1300px;
	background-color: black;
	text-align: center;
}


img{
	margin: 2%;
	margin-top: 0%;
	height: 200px;
	width: 300px;
}

p{ color:white;
}



#me{ height: 30px;
width: 30px;
text-align:center;
}

footer{ text-align:center;
height: 50px;
width: 90%;
}


