@charset "utf-8";
/* CSS Document */


/*All divs on webpage*/
.background_div{
	background-color: black;
}

body{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}

h1{
	text-align: center;
	font-size: 36px;
	color: #3BB9FF;
	margin: 0%;
	padding: 0%;
	}
	
h3{
	font-size: 32px;
	color: #0200EB;
}

	 
}

img{ height: 30px;
     width: 30px;
	 align-content: middle;
}


footer{ text-align:center;
height: 50px;
width: 90%;
}#me {
}
#me {
}
#me {
}
#sketch {
}
#personal {
}
